*{
    margin: 0;
    padding: 0;
}
.linha{
    display: flex;
    width: 25%;
    height: 100%;
}
.vermelho {
    width: 20%;
    height: 100px;
    background-color: red;
}
.verde {
    width: 20%;
    height: 100px;
    background-color: green;
}
.azul {
    width: 20%;
    height: 100px;
    background-color: blue;
}
.caixa{
    width: 100%;
    height: 800px;
    background-color: aquamarine;
    display:flex;
    justify-content: center;
    align-items: center;
}
.redonda {
 width: 200px;
 height: 200px;
 border-radius: 50%;
 background-color: black;
}
